body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td {
	width: 40px;
	min-width: 40px;
	height: 80px;
	font-weight: bold;
	font-size: 20px;
	font-size: 2vw;
}
img{
	max-width: 40px;
}
.blank {
	opacity: 0;
}
.index {
	background-color: white;
}
.gap {
	min-width: 5px !important;
	width: 5px !important;
	writing-mode: vertical-lr;
	text-orientation: upright;
}
.gaptoo {
	width: 80px;
	height: 20px;
}
.snowflake {
	width: 20px;
	height: 20px;
}
.weight {
	text-align: right;
	top: 0;
	right: 0;
	font-size: 8px;
	font-size: 1vw;
	font-weight: normal;
}
.atomic {
	text-align: left;
	bottom: 0;
	left: 0;
	font-size: 8px;
	font-size: 1vw;
	font-weight: normal;
}
.reactive_nonmetal {
	background-color: #f0ff8f;
}
.noble_gas {
	background-color: #c0ffff;
}
.alkali_metal {
	background-color: #ff6666;
}
.earth_metal {
	background-color: #ffdead;
}
.actinide {
	background-color: #ff99cc;
}
.lanthanide {
	background-color: #ffbfff;
}
.unknown {
	background-color: #e8e8e8;
}
.metalloid {
	background-color: #cccc99;
}
.ptmetal {
	background-color: #cccccc;
}
.trans_met {
	background-color: #ffc0c0;
}